@model List<TraversalCoreProject.Areas.Admin.Models.AnnouncementListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Announcement List</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Content</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td><a href="#" class="btn btn-outline-dark">Details</a></td>
        </tr>
    }
</table>

