@using Entity.Concrete
@model List<Comment>

<div class="comments mt-5">
    <h4 class="side-title ">Comments (2)</h4>
    @foreach (var item in Model)
    {
    <div class="media mt-4">
        <div class="img-circle">
            <img src="~/Traversal-Liberty/assets/images/c1.jpg" class="img-fluid" alt="...">
        </div>
        <div class="media-body">

            <ul class="time-rply mb-2">
                <li>
                    <a href="#URL" class="name mt-0 mb-2 d-block">@item.CommentUser</a>
                   @item.CommnetDate

                </li>
                <li class="reply-last">
                    <a href="#reply" class="reply">
                        Reply
                    </a>
                </li>
            </ul>
            <p>
                @item.CommentContent
            </p>
        </div>
    </div>
    }
</div>