<div class="comments mt-5">
    <h4 class="side-title ">Comments (2)</h4>
    <div class="media mt-4">
        <div class="img-circle">
            <img src="~/Traversal-Liberty/assets/images/c1.jpg" class="img-fluid" alt="...">
        </div>
        <div class="media-body">

            <ul class="time-rply mb-2">
                <li>
                    <a href="#URL" class="name mt-0 mb-2 d-block">William Jack</a>
                    June 15th, 2020 - 10:02 pm

                </li>
                <li class="reply-last">
                    <a href="#reply" class="reply">
                        Reply
                    </a>
                </li>
            </ul>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, hic
                reprehenderit eum cupiditate deleniti, Lorem ipsum dolor sit amet consectetur adipisicing.....
            </p>
        </div>
    </div>  
</div>