<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Leave a Reply</h4>
    <p class="mb-4">
        Your email address will not be published. Required fields are marked *
    </p>
    <form action="#" method="post">

        <div class="form-group">
            <textarea name="Comment" class="form-control" placeholder="Your Comment*" required=""
                      spellcheck="false"></textarea>
        </div>
        <div class="input-grids row">

            <div class="form-group col-lg-6">
                <input type="text" name="Name" class="form-control" placeholder="Your Name*"
                       required="">
            </div>
            <div class="form-group col-lg-6">
                <input type="email" name="Email" class="form-control" placeholder="Email*" required="">
            </div>
        </div>

        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Post Comment </button>
        </div>
    </form>
</div>