
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Reports Page</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Static Excel Report</a>
<br />
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-primary">Destination Excel Report</a>

