<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-notification nav-item">
        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail">             </i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right"><a class="dropdown-item" href="#"><i class="ft-book"></i> Read Mail</a><a class="dropdown-item" href="#"><i class="ft-bookmark"></i> Read Later</a><a class="dropdown-item" href="#"><i class="ft-check-square"></i> Home Page      </a></div>
        </div>
    </li>
    <li class="dropdown dropdown-user nav-item">
        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">          
            <span class="avatar avatar-online"><img src="~/member/theme-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right">
                <a class="dropdown-item" href="#"><span class="avatar avatar-online"><img src="~/member/theme-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><span class="user-name text-bold-700 ml-1">Gokhan Gok</span></span></a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="/Member/Profile/Index/"><i class="ft-user"></i> Edit Profile</a><a class="dropdown-item" href="#"><i class="ft-mail"></i> My Current Reservations</a><a class="dropdown-item" href="#"><i class="ft-check-square"></i> My Old Reservation</a><a class="dropdown-item" href="#"><i class="ft-message-square"></i> My Approval Reservations</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a>
            </div>
        </div>
    </li>
</ul>