@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Booking Hotel Get City ID Page</h2>
<br />
<br />

<form method="post">

    <label>
        Enter City Name
    </label>

    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Get City Id</button>
</form>