@model TraversalCoreProject.Models.UserRegisterViewModel
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Traversal Reservation SignUp Page</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="Invent Signup Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
	<!--//Style-CSS -->
	<style type="text/css">
		.text-danger {
			color: red;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<!-- /login-section -->
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-right">
					<div class="overlay">
						<div class="grid-info-form">
							<h5>Traversal Reservation</h5>
							<h3>CREATE ACCOUNT </h3>
							<p>
								Mediterranean, Aegean, Adriatic, Baltics, Caribbean and Much More. Don't miss the opportunity to see unforgettable destinations with our experienced tour guides with Online Reservation Opportunity, Installments and Advantages.
							</p>
							<a href="index.html" class="read-more-1 btn">Get Started</a>
						</div>

					</div>
				</div>
				<div class="form-left">
					<div class="middle">
						<h4>Join Us</h4>
						<p>Create Your Account, It's Free.</p>
					</div>
					<form method="post" class="signin-form">
						<div class="form-input">
							<label>Name</label>
							<input type="text"   asp-for="Name"/>
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Surname</label>
							<input type="text"  asp-for="SurName" />
							<span asp-validation-for="SurName" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>UserName</label>
							<input type="text"  asp-for="UserName" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Email</label>
							<input type="email"  asp-for="Mail" />
							<span asp-validation-for="Mail" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Phone Number</label>
							<input type="number"  asp-for="PhoneNumber" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Password</label>
							<input type="password"  asp-for="Password"/>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Confirm Password</label>
							<input type="password"  asp-for="ConfirmPassword" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
						<div class="text-danger" asp-validation-summary="ModelOnly"></div>

						<label class="container">
							I agree to <a href="#">Conditions</a> of Use and <a href="#">Privacy</a>
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
						<button class="btn">Create account</button>
					</form>
					<div class="copy-right text-center">
						<p>
							© @DateTime.Now.Year Invent Signup. All rights reserved 
						</p>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- //login-section -->
</body>

</html>