@model VisitorViewModel
@{
    ViewData["Title"] = "AddVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Add Visitors With Api</h1>
<br />
<form method="post">
    <label>Visitor Name</label>
    <input type="text" class="form-control"asp-for="Name" />
    <br />
    <label>Visitor Surname</label>
    <input type="text" class="form-control" asp-for="SurName" />
    <br />
     <label>Visitor City</label>
    <input type="text" class="form-control"asp-for="City" />
    <br />
    <label>Visitor Country</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />
     <label>Visitor Mail</label>
    <input type="text" class="form-control"asp-for="Mail" />
    <br />
     <button class="btn btn-outline-primary">Add Visitor</button>

</form>
