<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Destinations</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Comments</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-car"></i>
            <div data-i18n="Analytics">Members</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message"></i>
            <div data-i18n="Analytics">Messages</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Guides</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Newsletter</div>
        </a>
    </li>
</ul>
