
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="~/member/theme-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="index.html">
                    <img class="brand-logo" alt="Chameleon admin logo" src="~/member/theme-assets/images/logo/logo.png" />
                    <h3 class="brand-text">Traversal</h3>
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/Member/Dashboard/MemberDashboard/"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Profile/Index/"><i class="ft-pie-chart"></i><span class="menu-title" data-i18n="">My Profile</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Reservation/MyCurrentReservation/"><i class="ft-droplet"></i><span class="menu-title" data-i18n="">MyCurrentRes...</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Reservation/MyOldReservation/"><i class="ft-layers"></i><span class="menu-title" data-i18n="">MyOldRes...</span></a>
            </li>
            <li class="nav-item">
                <a href="/Member/Reservation/MyApprovalReservation/"><i class="ft-box"></i><span class="menu-title" data-i18n="">MyApprovalRes...</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Reservation/NewReservation/"><i class="ft-calendar"></i><span class="menu-title" data-i18n="">New Reservation</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Comment/Index/"><i class="ft-credit-card"></i><span class="menu-title" data-i18n="">My Commnets</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Destination/Index/"><i class="ft-map"></i><span class="menu-title" data-i18n="">Destinations</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/LastDestinations/Index/"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Last Destinations</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Default/Index/"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Go to the website</span></a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="ft-log-out"></i><span class="menu-title" data-i18n="">Log Out</span></a>
            </li>
        </ul>
    </div>
    <div class="navigation-background"></div>
</div>