@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>City - Country Operations</h2>
<br />

<button type="button" id="btngetlist" class="btn btn-outline-info">City List</button>
<button type="button" id="btngetbyid" class="btn btn-outline-primary">Get City</button>
<button type="button" id="btnaddcity" class="btn btn-outline-success">Add City</button>
<button type="button" id="btndeletecity" class="btn btn-outline-danger">Delete City</button>
<button type="button" id="btnupdatecity" class="btn btn-outline-warning">Update City</button>

<br />
<br />
<div id="citylist">Get City List</div>
<br />
<div>
    <input type="text" id="txtid" placeholder="please enter city id" class="form-control" />
</div>
<br />
<div>
    <input type="text" id="txtcityid" placeholder="please enter the city id to be deleted" class="form-control" />
</div>
<br />
<div>
    <input type="text" id="txtcityeditid" placeholder="Enter the id you want to update" class="form-control" />
    <input type="text" id="txtcityname" placeholder="Enter the city name to be updated" class="form-control" />
    <input type="text" id="txtcitdaynightname" placeholder="Enter the day and night information to be updated" class="form-control" />
</div>
<br />

<div id="destinationlistbyid"></div>
<br />

<div>
    <input type="text" id="txtcity" placeholder="please enter city name" class="form-control" />
    <br />
    <input type="text" id="txtdaynight" placeholder="Day - Night" class="form-control" />
    <br />
    <input type="text" id="txtprice" placeholder="Price" class="form-control" />
    <br />
    <input type="text" id="txtcapacity" placeholder="Person Count" class="form-control" />
    <br />
</div>
<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class = table table-bordered> <tr><th> City Name </th> <th> DayNight </th> <th> Price </th> </tr>";

                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td> <td>${value.DayNight}</td> <td>${value.Price} $</td> </tr>`
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);

            }
        });
    });

    $("#btnaddcity").click(function () {
        let cityvalues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: $("txtprice").val(),
            Capacity: $("txtcapacity").val()
        };
        $.ajax({
            type: "post",
            url: "/Admin/City/AddCityDestination/",
            data: cityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("City - Destination added successfully");
            }
        });
    });

    $("#btngetbyid").click(x => {
        let id = $("#txtid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/GetById/",
            data: { DestinationId: id },
            success: function (fun2) {
                let result = jQuery.parseJSON(fun2);
                console.log(result);
                let htmlstr = `<table class=table table-bordered><tr><th>City Name</th><th>Day-Night</th><th>Price</th></tr><tr><td>${result.City}</td><td>${result.DayNight}</td><td>${result.Price} $</td></tr></table>`;
                $("#destinationlistbyid").html(htmlstr);
            }
        });
    });

    $("#btndeletecity").click(x => {
        let id = $("#txtcityid").val();
        $.ajax({
            url: "/Admin/City/DeleteCity/" + id,
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (fun3) {
                alert("City ​​successfully deleted");
            }
        });
    });

    $("#btnupdatecity").click(function () {
        let values = {
            DestinationId: $("#txtcityeditid").val(),
            City: $("#txtcityname").val(),
            DayNight: $("#txtcitdaynightname").val()
        };
        $.ajax({
            type: "post",
            url: "/Admin/City/UpdateCity/",
            data: values,
            success: function (fun4) {
                alert("Update done");
            }
        });
    });


</script>

